.item {
    color: red;
}

.card-title {
    text-transform: capitalize;
    margin-bottom: 0.5rem !important;
    font-size: 1rem !important;
}
.card-text {
    font-style: italic !important;
    font-size: 15px !important;
    margin-bottom: .5rem !important;
}
.price {
    float: right;
}
button {
    float: right;
    padding: 5px !important;
    color: #fff !important;
}

.card-body{
    padding: 10px !important;
}
