.item {
    color: red;
}

.card-title {
    text-transform: capitalize;
}
.card-text {
    font-style: italic !important;
}
.price {
    float: right;
}
button {
    float: right;
    padding: 5px !important;
    color: #fff !important;
}

.card-body{
    padding: 10px !important;
}