.toaster {
    position: absolute;
    bottom: 50px;
    display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
  }
  
  .toaster > div {
    width: 365px;
    text-align: center;
    box-shadow: 0 3px 15px 0 rgba(0,0,0,.3);
    background: rgba(0,0,0,.8);
    padding: 16px 20px;
    font-size: 14px;
    border: 0;
    text-align: center;
    font-weight: 600;
    color: #fff;
    border-radius: 5px;
    margin: auto;
    display: inline-block;
  }

  .toaster > div > span {
    text-transform: capitalize;
  }

  .toaster > div > img {
    width: 23px;
    float: left;
  }
  
  .toaster > div > button {
    float: right;
    color: #555;
    font-size: 24px;
    margin-left: 15px;
    outline: 0;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    font-weight: 700;
    line-height: 1;
  }