body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f9fa !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Small devices (landscape phones, 576px and up) */

@media (max-width: 576px) {
  .container {
    padding-right: 60px !important;
    padding-left: 60px !important;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .border-right {
    border-left: 1px solid #e8e8e8;
  }
}
